<!--------------------- Treino_4 _ Visão geral dos formulários ------------------------>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>

<!--------------------- Treino_4 _ Roteamento ------------------------>

<nav>
  <h3>Roteamento</h3>
  <p>
    <a routerLink="/" routerLinkActive="router-link-active">Home</a>
  </p>
  <p>
    <a routerLink="/user" routerLinkActive="router-link-active">User</a>
  </p>
  <router-outlet></router-outlet>
</nav>

<!--------------------- Treino_3 _ @defer(){} @placeholder(){} @loading(){} ------------------------>
<div>
  @defer (on viewport) {
  <p>UsserName: {{ userName }}</p>
  <p>Preferred Framework</p>
  <ul>
    <li>
      Static Image:
      <img src="assets/achei.webp" width="160" height="100" alt="logo alt" />
    </li>
    <li>
      Dinamic image:
      <img [src]="logoUrl" [alt]="logoAlt" width="160" height="100" />
    </li>
  </ul>
  } @placeholder {
  <p>Testandp o defer 3° teste</p>
  } @loading(minimum 20s){
  <p>Loadins comments...</p>
  }
</div>

<!--------------------- Treino_2 ------------------------>
<div>
  <h1>Like music favorits</h1>
  @defer (on viewport){
  <article>
    <p>ColdPlay</p>
    <p>Iron Maden</p>
    <p>Daft Punk</p>
    <p>Maroom five</p>
    <p>Metálica</p>
    <p>Perjam</p>
    <p>Linkin Park</p>
    <p>System of a Down</p>
    <p>AC/DC</p>
    <p>Foo Fighters</p>
    <p>Red Hot Chili Peppers</p>
    <p>Queen</p>
    <p>U2</p>
    <p>Green Day</p>
    <p>Scorpions</p>
    <p>Black Sabbath</p>
    <p>Deep Purple</p>
    <p>Slipknot</p>
    <p>Black Eyed Peas</p>
    <p>Imagine Dragons</p>
    <p>Twenty One Pilots</p>
    <p>Avicii</p>
    <p>Calvin Harris</p>
    <p>David Guetta</p>
    <p>Marshmello</p>
    <p>Deadmau5</p>
    <p>Bruno Mars</p>
    <p>Ed Sheeran</p>
    <p>Avril Lavini</p>
    <p>Alan Walker</p>
    <p>Evaneessence</p>
    <p>Paramore</p>
    <p>My Chemical Romance</p>
    <p>Simple Plan</p>
    <p>Good Charlotte</p>
    <p>Sum 41</p>
    <p>Three Days Grace</p>
    <p>Breaking Benjamin</p>
  </article>
  } @placeholder {
  <p>Testandp o defer 2° teste</p>
  } @loading(minimum 10s){
  <p>Loadins comments...</p>
  }
</div>

<!--------------------- Treino_1 ------------------------>

<div>
  <h1>How I feel about Angular</h1>
  @defer(on viewport){
  <div>
    <article>
      <p>
        Angular is my favorite framework, and this is why. Angular has the
        coolest deferrable view feature that makes defer loading content the
        easiest and most ergonomic it could possibly be. The Angular community
        is also filled with amazing contributors and experts that create
        excellent content. The community is welcoming and friendly, and it
        really is the best community out there.
      </p>
    </article>
  </div>
  } @placeholder {
  <p>Testandp o defer</p>
  } @loading(minimum 5s){
  <p>Loadins comments...</p>
  }
</div>
