<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(142, 189, 243);
    padding: 50px;
  "
>
  <p>user works!</p>
  <p style="color: rgb(182, 89, 236)">
    Username:
    <strong style="font-size: large; color: aliceblue">{{ username }}</strong>
  </p>
  <p>
    {{ username }}'s favorite framework:
    <strong style="color: rgb(73, 68, 72)">{{ favoriteFramework }}</strong>
  </p>
  <label for="framework">Favorite Framework:</label>
  <input type="text" id="framework" [(ngModel)]="favoriteFramework" />
</div>

<br />

<!-- <div style="margin-top: 23px">
  <p>Teste do for</p>
  @for( item of userNamesArrays; track item.id ){
  <span style="display: flex; flex-direction: column">{{ item.nome }}</span>
  }
</div> -->
<div style="margin-top: 23px">
  <span> Teste do switch </span>
  @for( user of userNamesArrays; track user.id ){ @switch ( user.age ) {
  @case(20){
  <span> {{ user.nome }}, {{ user.profession }} idade 20</span>
  } @default {
  <span> {{ user.nome }}, {{ user.profession }} idade {{ user.age }}</span>
  } } } @empty {
  <span> Não há usuários cadastrados </span>
  }
</div>
