<div
  style="
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(142, 189, 243);
    padding: 50px;
  "
>
  <p>user works!</p>
  <p style="color: rgb(182, 89, 236)">
    Username:
    <strong style="font-size: large; color: aliceblue">{{ username }}</strong>
  </p>
  <p>
    {{ username }}'s favorite framework:
    <strong style="color: rgb(243, 70, 185)">{{ favoriteFramework }}</strong>
  </p>
  <label for="framework">Favorite Framework:</label>
  <input type="text" id="framework" [(ngModel)]="favoriteFramework" />
</div>

<br />

<div style="margin-top: 23px">
  <p>Teste do for</p>
  @for( item of userNamesArrays; track item.id ){
  <span style="display: flex; flex-direction: column">{{ item.nome }}</span>
  }
</div>
<div style="margin-top: 23px">
  <span> Teste do switch </span>
  @switch( userNamesArrays ){ @case( userNamesArrays[0].nome == 'Mauro' ){
  <span style="background-color: aqua; padding: 10px">Mauro</span>
  } @case( userNamesArrays[1].nome == 'Paulo' ){
  <span style="background-color: #1895fc; padding: 10px">Paulo</span>
  } @case( userNamesArrays[2].nome == 'João' ){
  <span style="background-color: #253eac; padding: 10px">João</span>
  } @default {
  <span style="background-color: #f00; padding: 10px">Default</span>
  } }
</div>
